.intro-bg {
  background: #000000;
  color: #ffffff;
  box-shadow: inset 0 -120px #ffffff;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.intro-content {
  align-self: end;
  padding-bottom: 200px;
}

.intro img {
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.intro h1 {
  margin-bottom: 32px;
  font-size: 4rem;
  line-height: 1.125;
}

.intro h1 span {
  color: #ffbb00;
}

.intro p {
  margin-bottom: 20px;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #b2b2b2;
}

.intro a {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #332200;
  font-size: 1.125rem;
  line-height: 1.33;
  font-weight: bold;
}

.intro a:hover {
  background: linear-gradient(#ffb60d, #e59317);
}
