@import "./global/global.css";
@import "./utilities/colors.css";
@import "./global/header.css";
@import "./home/intro.css";
@import "./utilities/components.css";
@import "./bicycles/bicycles-list.css";
@import "./home/technology.css";
@import "./home/partners.css";
@import "./home/testimonial.css";
