.title {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.title > p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: var(--color-5);
}

.title > h1 {
  font: 600 4rem/1.125 "Poppins", sans-serif;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 4rem;
  line-height: 1.125;
  color: var(--color-0);
}

.title h1 > span {
  color: var(--color-p1);
}

.terms {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 80px;
  padding-bottom: 80px;

  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-10);
}

.terms h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 600;
  color: var(--color-11);
  margin-bottom: 20px;
}

.terms p + h2 {
  margin-top: 40px;
}

.terms p {
  max-width: 75ch;
  margin-bottom: 24px;
}
