.footer-bg {
  background: var(--color-12);
}

.footer {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 40px;
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer li {
  margin-bottom: 16px;
}

.footer h3 {
  margin-bottom: 32px;
}

.footer-contact h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: var(--color-0);
}

.footer-contact ul {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.35;
  font-family: "Roboto", sans-serif;
  color: var(--color-5);
  margin-bottom: 32px;
}

.footer-contact li:nth-child(even):after {
  content: "";
  display: block;
  max-width: 360px;
  height: 2px;
  background: var(--color-11);
  margin-top: 16px;
}

.footer-information h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: var(--color-0);
}

.footer-information ul {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.35;
  font-family: "Poppins", sans-serif;
  color: var(--color-5);
}

.footer a:hover {
  color: var(--color-0);
}

.footer-social {
  display: flex;
  gap: 32px;
}

.footer-copy {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.35;
  font-family: "Roboto", sans-serif;
  color: var(--color-6);

  margin-top: 40px;
  grid-column: 1/-1;
}

@media (max-width: 800px) {
  .footer > img {
    display: none;
  }

  .footer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .footer-copy {
    margin-top: 0px;
  }
}
