.button {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--color-p5);
  font-size: 1.125rem;
  line-height: 1.33;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  max-width: max-content;
}

.button:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.button.secundary {
  background: var(--color-10);
  color: var(--color-2);
}

.button.secundary:hover {
  background: var(--color-9);
}

@media (max-width: 600px) {
  .button {
    padding: 12px 16px;
    font-size: 1rem;
  }
}

.link {
  display: inline-block;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: var(--color-p1);
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
}

.link:hover {
  color: var(--color-0);
}

.title-bg {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--color-11);
}

.title p {
  margin-bottom: 4px;
}

@media (max-width: 800px) {
  .title-bg {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .title p {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}
