.insurance-bg {
  background: var(--color-11);
}

.insurance {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.insurance > h2 {
  grid-column: 1/-1;

  font-weight: 600;
  font-size: 4rem;
  line-height: 1.125;
  font-family: "Poppins", sans-serif;
  color: var(--color-0);
}

.insurance > h2 > span {
  color: var(--color-p1);
}

.insurance-item {
  background-color: var(--color-12);
  padding: 32px 32px 32px 60px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.insurance-item h3 {
  margin-bottom: 40px;
}

.insurance-item span {
  grid-column: 2;
  display: block;
  text-align: right;
}

.insurance-item a {
  grid-column: 1/-1;
}

.insurance-plan {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.25;
  font-family: "Poppins", sans-serif;
}

.prata {
  color: var(--color-6);
}

.ouro {
  color: var(--color-p1);
}

.insurance-price {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.25;
  font-family: "Poppins", sans-serif;
  color: var(--color-0);
}

.insurance-month {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.35;
  font-family: "Poppins", sans-serif;
  color: var(--color-6);
}

.insurance-list {
  grid-column: 1/-1;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.35;
  font-family: "Roboto", sans-serif;
  color: var(--color-0);
}

.insurance-list li {
  display: flex;
  align-items: center;
  position: relative;
}

.insurance-list li + li {
  margin-top: 20px;
}

.insurance-list li::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 9px;
  background-image: url(../../img/icones/lista.svg);
  position: absolute;
  left: -21px;
}

@media (max-width: 800px) {
  .insurance {
    grid-template-columns: 1fr;
  }
}
