.intro-bg {
  background: var(--color-12);
  color: var(--color-0);
  box-shadow: inset 0 -120px #ffffff;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.intro-content {
  align-self: end;
  padding-bottom: 200px;
}

.intro img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.intro h1 {
  margin-bottom: 32px;
  font-size: 4rem;
  line-height: 1.125;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.intro h1 span {
  color: var(--color-p1);
}

.intro p {
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
  color: var(--color-5);
}

@media (max-width: 1200px) {
  .intro h1 {
    font-size: 3rem;
  }
  .intro p {
    font-size: 1.125rem;
  }
}

@media (max-width: 800px) {
  .intro-bg {
    background: var(--color-11);
    padding-top: 40px;
    box-shadow: inset 0 -60px #ffffff;
  }
  .intro {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .intro-content {
    padding-bottom: 0px;
  }
  .intro h1 {
    font-size: 2rem;
    margin-bottom: 16px;
  }
  .intro img {
    height: 300px;
    width: 100%;
  }
}
