.technology-bg {
  background-color: var(--color-11);
  box-shadow: inset 0 80px var(--color-0), inset 0 -80px var(--color-0);
}

.technology {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.technology-content {
  padding-top: 160px;
  padding-bottom: 160px;
}

.technology-content > span {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--color-5);
}

.technology-title {
  font-size: 4rem;
  line-height: 1.125;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 32px;
  color: var(--color-0);
}

.technology-title span {
  color: var(--color-p1);
}

.technology-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 20px;
  color: var(--color-5);
}

.technology a {
  margin-bottom: 80px;
}

.technology-benefits {
  display: flex;
  gap: 40px;
}

.technology-benefits h3 {
  margin-bottom: 8px;
  width: max-content;
}

.technology-benefits img {
  width: 24px;
  margin-bottom: 8px;
}

.technology-type {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.35s;
  color: var(--color-0);
}

.technology-type-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-5);
}

.technology-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

@media (max-width: 800px) {
  .technology-bg {
    box-shadow: initial;
  }
  .technology {
    grid-template-columns: 1fr;
  }
  .technology-content {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .technology-image {
    display: none;
  }
  .technology-link {
    margin-bottom: 60px;
  }
}

@media (max-width: 600px) {
  .technology-benefits {
    flex-direction: column;
  }
}
