.testimonial {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--color-p1);

  overflow: hidden;
}

.testimonial img {
  border-radius: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonial-content {
  padding: 40px 40px 80px 80px;
  align-self: end;
}

.testimonial-content p {
  max-width: 32ch;
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 32px;
  position: relative;
}

.testimonial p::before {
  content: "“";
  font-size: 5rem;
  color: var(--color-p2);
  position: absolute;
  left: -50px;
  top: -20px;
}

.testimonial p::after {
  content: "”";
  font-size: 5rem;
  color: var(--color-p2);
  position: absolute;
}

.testimonial-content blockquote {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.25;
  color: var(--color-p5);
}

.testimonial-content span {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  line-height: 1.35;
  font-weight: 600;
  color: var(--color-p4);
}

@media (max-width: 800px) {
  .testimonial {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .testimonial img {
    max-height: 200px;
  }

  .testimonial-content {
    padding: 40px 20px;
    justify-self: center;
  }
}
